h1{
  position: absolute;
  color: #40514e;
  font-family: 'Caviar Dreams';
  font-size: 50px;
  text-align: center;



}

h2  {
  position: absolute;
  color: #1cb3c8;
  font-family: 'Century Gothic';
  font-size: 26px;
  top: 90px;

  animation-duration: 3s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body  {
  background-color: #dfe2e2;
}
