h1{
  position: absolute;
  color: #40514e;
  font-family: 'Caviar Dreams';
  font-size: 50px;
  text-align: center;
  left: 200px;
  top: 0px;;

}

h2  {

  color: #1cb3c8;
  font-family: 'Century Gothic';
  font-size: 26px;
  top: 90px;
}

h3 {
  margin: 0px 0px 0px 0px;
}

section {
  position: relative;
  column-count: 2;
  text-align: justify;
  margin: 0px;
  padding-top: 0px;
}

body  {
  background-color: white;
}
