h1{
  position: relative;
  color: #40514e;
  font-family: 'Caviar Dreams';
  font-size: 50px;
  text-align: center;
  width: auto;
  border-style: dashed;
  borde color: steelblue;
}

h2  {
  border-style: dashed;
  borde color: steelblue;
  position: relative;
  color: #1cb3c8;
  font-family: 'Century Gothic';
  font-size: 26px;
  top: 10px;
  width: auto;
  text-align: center;
}

body  {
  background-color: #dfe2e2;
}
